In [6]:
import pandas as pd
import os
os.chdir('../')  # Esto sube un nivel desde 'Notebooks' a 'Nueva Carpeta'
import sys
# Agrega la carpeta actual al sys.path
sys.path.append(os.getcwd())
import Functions as fs

In [ ]:
df_ventas = pd.read_csv('Amazon Sale Report.csv')

### Analisis preliminar de datos

In [17]:
df_ventas.head(3)

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN

In [4]:
fs.informe_data(df_ventas)
fs.data_characteristics(df_ventas)

--Dimensiones del DataFrame--
Filas: 128975
Columnas: 24
Cantidad de datos: 2884905

                column type data  total nulls percentage
0                index     int64            0       0.0%
1             Order ID    object            0       0.0%
2                 Date    object            0       0.0%
3               Status    object            0       0.0%
4           Fulfilment    object            0       0.0%
5       Sales Channel     object            0       0.0%
6   ship-service-level    object            0       0.0%
7                Style    object            0       0.0%
8                  SKU    object            0       0.0%
9             Category    object            0       0.0%
10                Size    object            0       0.0%
11                ASIN    object            0       0.0%
12      Courier Status    object         6872      5.33%
13                 Qty     int64            0       0.0%
14            currency    object         7795      6.04%
15              Amount   float64         7795      6.04%
16           ship-city    object           33      0.03%
17          ship-state    object           33      0.03%
18    ship-postal-code   float64           33      0.03%
19        ship-country    object           33      0.03%
20       promotion-ids    object        49153     38.11%
21                 B2B      bool            0       0.0%
22        fulfilled-by    object        89698     69.55%
23         Unnamed: 22    object        49050     38.03%

In [5]:
for columna in df_ventas.columns:
    fs.informe_columna(df_ventas,columna)

INFORME PRELIMINAR SOBRE LA COLUMNA: index

- Numero de datos nulos: 0

cantidad de datos no nulos: 128975
  ESTADISTICOS PRINCIPALES
Media: 64487.0
Desviacion Estandar: 37232.02
Primer cuartil: 32243.5
Mediana: 64487.0
Tercer cuartil: 96730.5

--Valores extremos--
Valor mÃ¡ximo: 128974
Valor mÃ­nimo: 0

  DISTRIBUCION DE FRECUENCIAS (TOP 3) index
0        1
85979    1
85992    1
Name: count, dtype: int64

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
INFORME PRELIMINAR SOBRE LA COLUMNA: Order ID

- Cantidad de datos no nulos: 128975
- Numero de datos nulos: 0
- Cantidad de valores Ãºnicos: 120378

VALORES UNICOS EN LA COLUMNA (TOP 5)
['405-8078784-5731545' '171-9198151-1101146' '404-0687676-7273146'
 '403-9615377-8133951' '407-1069790-7240320']

FRECUENCIAS DE LA COLUMNA
- Valor modal: 171-5057375-2831560
- Frecuencia acumulada: 12

  DISTRIBUCION DE FRECUENCIAS (TOP 3) Order ID
171-5057375-2831560    12
403-4984515-8861958    12
403-0173977-3041148    11
Name: count, dtype: int64

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
INFORME PRELIMINAR SOBRE LA COLUMNA: Date

- Cantidad de datos no nulos: 128975
- Numero de datos nulos: 0
- Cantidad de valores Ãºnicos: 91

VALORES UNICOS EN LA COLUMNA (TOP 5)
['04-30-22' '04-29-22' '04-28-22' '04-27-22' '04-26-22']

FRECUENCIAS DE LA COLUMNA
- Valor modal: 05-03-22
- Frecuencia acumulada: 2085

  DISTRIBUCION DE FRECUENCIAS (TOP 3) Date
05-03-22    2085
05-02-22    2079
05-04-22    2015
Name: count, dtype: int64

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
INFORME PRELIMINAR SOBRE LA COLUMNA: Status

- Cantidad de datos no nulos: 128975
- Numero de datos nulos: 0
- Cantidad de valores Ãºnicos: 13

VALORES UNICOS EN LA COLUMNA (TOP 5)
['Cancelled' 'Shipped - Delivered to Buyer' 'Shipped'
 'Shipped - Returned to Seller' 'Shipped - Rejected by Buyer']

FRECUENCIAS DE LA COLUMNA
- Valor modal: Shipped
- Frecuencia acumulada: 77804

  DISTRIBUCION DE FRECUENCIAS (TOP 3) Status
Shipped                         77804
Shipped - Delivered to Buyer    28769
Cancelled                       18332
Name: count, dtype: int64

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
INFORME PRELIMINAR SOBRE LA COLUMNA: Fulfilment

- Cantidad de datos no nulos: 128975
- Numero de datos nulos: 0
- Cantidad de valores Ãºnicos: 2

--Valores Ãºnicos en la columna--
['Merchant' 'Amazon']

FRECUENCIAS DE LA COLUMNA
- Valor modal: Amazon
- Frecuencia acumulada: 89698

  DISTRIBUCION DE FRECUENCIAS (TOP 3) Fulfilment
Amazon      89698
Merchant    39277
Name: count, dtype: int64

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
INFORME PRELIMINAR SOBRE LA COLUMNA: Sales Channel

- Cantidad de datos no nulos: 128975
- Numero de datos nulos: 0
- Cantidad de valores Ãºnicos: 2

--Valores Ãºnicos en la columna--
['Amazon.in' 'Non-Amazon']

FRECUENCIAS DE LA COLUMNA
- Valor modal: Amazon.in
- Frecuencia acumulada: 128851

  DISTRIBUCION DE FRECUENCIAS (TOP 3) Sales Channel
Amazon.in     128851
Non-Amazon       124
Name: count, dtype: int64

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
INFORME PRELIMINAR SOBRE LA COLUMNA: ship-service-level

- Cantidad de datos no nulos: 128975
- Numero de datos nulos: 0
- Cantidad de valores Ãºnicos: 2

--Valores Ãºnicos en la columna--
['Standard' 'Expedited']

FRECUENCIAS DE LA COLUMNA
- Valor modal: Expedited
- Frecuencia acumulada: 88615

  DISTRIBUCION DE FRECUENCIAS (TOP 3) ship-service-level
Expedited    88615
Standard     40360
Name: count, dtype: int64

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
INFORME PRELIMINAR SOBRE LA COLUMNA: Style

- Cantidad de datos no nulos: 128975
- Numero de datos nulos: 0
- Cantidad de valores Ãºnicos: 1377

VALORES UNICOS EN LA COLUMNA (TOP 5)
['SET389' 'JNE3781' 'JNE3371' 'J0341' 'JNE3671']

FRECUENCIAS DE LA COLUMNA
- Valor modal: JNE3797
- Frecuencia acumulada: 4224

  DISTRIBUCION DE FRECUENCIAS (TOP 3) Style
JNE3797    4224
JNE3405    2263
J0230      1868
Name: count, dtype: int64

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
INFORME PRELIMINAR SOBRE LA COLUMNA: SKU

- Cantidad de datos no nulos: 128975
- Numero de datos nulos: 0
- Cantidad de valores Ãºnicos: 7195

VALORES UNICOS EN LA COLUMNA (TOP 5)
['SET389-KR-NP-S' 'JNE3781-KR-XXXL' 'JNE3371-KR-XL' 'J0341-DR-L'
 'JNE3671-TU-XXXL']

FRECUENCIAS DE LA COLUMNA
- Valor modal: JNE3797-KR-L
- Frecuencia acumulada: 773

  DISTRIBUCION DE FRECUENCIAS (TOP 3) SKU
JNE3797-KR-L    773
JNE3797-KR-M    657
JNE3797-KR-S    587
Name: count, dtype: int64

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
INFORME PRELIMINAR SOBRE LA COLUMNA: Category

- Cantidad de datos no nulos: 128975
- Numero de datos nulos: 0
- Cantidad de valores Ãºnicos: 9

VALORES UNICOS EN LA COLUMNA (TOP 5)
['Set' 'kurta' 'Western Dress' 'Top' 'Ethnic Dress']

FRECUENCIAS DE LA COLUMNA
- Valor modal: Set
- Frecuencia acumulada: 50284

  DISTRIBUCION DE FRECUENCIAS (TOP 3) Category
Set              50284
kurta            49877
Western Dress    15500
Name: count, dtype: int64

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
INFORME PRELIMINAR SOBRE LA COLUMNA: Size

- Cantidad de datos no nulos: 128975
- Numero de datos nulos: 0
- Cantidad de valores Ãºnicos: 11

VALORES UNICOS EN LA COLUMNA (TOP 5)
['S' '3XL' 'XL' 'L' 'XXL']

FRECUENCIAS DE LA COLUMNA
- Valor modal: M
- Frecuencia acumulada: 22711

  DISTRIBUCION DE FRECUENCIAS (TOP 3) Size
M     22711
L     22132
XL    20876
Name: count, dtype: int64

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
INFORME PRELIMINAR SOBRE LA COLUMNA: ASIN

- Cantidad de datos no nulos: 128975
- Numero de datos nulos: 0
- Cantidad de valores Ãºnicos: 7190

VALORES UNICOS EN LA COLUMNA (TOP 5)
['B09KXVBD7Z' 'B09K3WFS32' 'B07WV4JV4D' 'B099NRCT7B' 'B098714BZP']

FRECUENCIAS DE LA COLUMNA
- Valor modal: B09SDXFFQ1
- Frecuencia acumulada: 773

  DISTRIBUCION DE FRECUENCIAS (TOP 3) ASIN
B09SDXFFQ1    773
B09SDY8DCT    657
B09SDYQ3WG    587
Name: count, dtype: int64

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
INFORME PRELIMINAR SOBRE LA COLUMNA: Courier Status

- Cantidad de datos no nulos: 122103
- Numero de datos nulos: 6872
- Cantidad de valores Ãºnicos: 3

--Valores Ãºnicos en la columna--
[nan 'Shipped' 'Cancelled' 'Unshipped']

FRECUENCIAS DE LA COLUMNA
- Valor modal: Shipped
- Frecuencia acumulada: 109487

  DISTRIBUCION DE FRECUENCIAS (TOP 3) Courier Status
Shipped      109487
Unshipped      6681
Cancelled      5935
Name: count, dtype: int64

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
INFORME PRELIMINAR SOBRE LA COLUMNA: Qty

- Numero de datos nulos: 0

cantidad de datos no nulos: 128975
  ESTADISTICOS PRINCIPALES
Media: 0.9
Desviacion Estandar: 0.31
Primer cuartil: 1.0
Mediana: 1.0
Tercer cuartil: 1.0

--Valores extremos--
Valor mÃ¡ximo: 15
Valor mÃ­nimo: 0

  DISTRIBUCION DE FRECUENCIAS (TOP 3) Qty
1    115780
0     12807
2       341
Name: count, dtype: int64

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
INFORME PRELIMINAR SOBRE LA COLUMNA: currency

- Cantidad de datos no nulos: 121180
- Numero de datos nulos: 7795
- Cantidad de valores Ãºnicos: 1

--Valores Ãºnicos en la columna--
['INR' nan]

FRECUENCIAS DE LA COLUMNA
- Valor modal: INR
- Frecuencia acumulada: 121180

  DISTRIBUCION DE FRECUENCIAS (TOP 3) currency
INR    121180
Name: count, dtype: int64

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
INFORME PRELIMINAR SOBRE LA COLUMNA: Amount

- Numero de datos nulos: 7795

No se pueden calcular estadÃ­sticas principales para esta columna debido a valores nulos o no numÃ©ricos
------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
INFORME PRELIMINAR SOBRE LA COLUMNA: ship-city

- Cantidad de datos no nulos: 128942
- Numero de datos nulos: 33
- Cantidad de valores Ãºnicos: 8955

VALORES UNICOS EN LA COLUMNA (TOP 5)
['MUMBAI' 'BENGALURU' 'NAVI MUMBAI' 'PUDUCHERRY' 'CHENNAI']

FRECUENCIAS DE LA COLUMNA
- Valor modal: BENGALURU
- Frecuencia acumulada: 11217

  DISTRIBUCION DE FRECUENCIAS (TOP 3) ship-city
BENGALURU    11217
HYDERABAD     8074
MUMBAI        6126
Name: count, dtype: int64

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
INFORME PRELIMINAR SOBRE LA COLUMNA: ship-state

- Cantidad de datos no nulos: 128942
- Numero de datos nulos: 33
- Cantidad de valores Ãºnicos: 69

VALORES UNICOS EN LA COLUMNA (TOP 5)
['MAHARASHTRA' 'KARNATAKA' 'PUDUCHERRY' 'TAMIL NADU' 'UTTAR PRADESH']

FRECUENCIAS DE LA COLUMNA
- Valor modal: MAHARASHTRA
- Frecuencia acumulada: 22260

  DISTRIBUCION DE FRECUENCIAS (TOP 3) ship-state
MAHARASHTRA    22260
KARNATAKA      17326
TAMIL NADU     11483
Name: count, dtype: int64

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
INFORME PRELIMINAR SOBRE LA COLUMNA: ship-postal-code

- Numero de datos nulos: 33

No se pueden calcular estadÃ­sticas principales para esta columna debido a valores nulos o no numÃ©ricos
------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
INFORME PRELIMINAR SOBRE LA COLUMNA: ship-country

- Cantidad de datos no nulos: 128942
- Numero de datos nulos: 33
- Cantidad de valores Ãºnicos: 1

--Valores Ãºnicos en la columna--
['IN' nan]

FRECUENCIAS DE LA COLUMNA
- Valor modal: IN
- Frecuencia acumulada: 128942

  DISTRIBUCION DE FRECUENCIAS (TOP 3) ship-country
IN    128942
Name: count, dtype: int64

------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------
INFORME PRELIMINAR SOBRE LA COLUMNA: promotion-ids

- Cantidad de datos no nulos: 79822
- Numero de datos nulos: 49153
- Cantidad de valores Ãºnicos: 5787

VALORES UNICOS EN LA COLUMNA (TOP 5)
[nan
 'Amazon PLCC Free-Financing Universal Merchant AAT-WNKTBO3K27EJC,Amazon PLCC Free-Financing Universal Merchant AAT-QX3UCCJESKPA2,Amazon PLCC Free-Financing Universal Merchant AAT-5QQ7BIYYQEDN2,Amazon PLCC Free-Financing Universal Merchant AAT-DSJ2QRXXWXVMQ,Amazon PLCC Free-Financing Universal Merchant AAT-CXJHMC2YJUK76,Amazon PLCC Free-Financing Universal Merchant AAT-CC4FAVTYR4X7C,Amazon PLCC Free-Financing Universal Merchant AAT-XXRCW6NZEPZI4,Amazon PLCC Free-Financing Universal Merchant AAT-CXNSLNBROFDW4,Amazon PLCC Free-Financing Universal Merchant AAT-R7GXNZWISTRFA,Amazon PLCC Free-Financing Universal Merchant AAT-WSJLDN3X7KEMO,Amazon PLCC Free-Financing Universal Merchant AAT-VL6FGQVGQVXUS,Amazon PLCC Free-Financing Universal Merchant AAT-EOKPWFWYW7Y6I,Amazon PLCC Free-Financing Universal Merchant AAT-ZYL5UPUNW6T62,Amazon PLCC Free-Financing Universal Merchant AAT-XVPICCHRWDCAI,Amazon PLCC Free-Financing Universal Merchant AAT-ETXQ3XXWMRXBG,Amazon PLCC Free-Financing Universal Merchant AAT-7X3XCTYG64VBE,Amazon PLCC Free-Financing Universal Merchant AAT-7CHGD3WTS3MHM,Amazon PLCC Free-Financing Universal Merchant AAT-26ZDKNME27X42,Amazon PLCC Free-Financing Universal Merchant AAT-4ZF5KN6E4LJK4,Amazon PLCC Free-Financing Universal Merchant AAT-7RCXIKUAX7DDY,Amazon PLCC Free-Financing Universal Merchant AAT-BRSZZ45H6MHAO,Amazon PLCC Free-Financing Universal Merchant AAT-MKLXOOZWQL7GO,Amazon PLCC Free-Financing Universal Merchant AAT-CB7UNXEXGIJTC,Amazon PLCC Free-Financing Universal Merchant #MP-gzasho-1593152694811,Amazon PLCC Free-Financing Universal Merchant AAT-WLBA4GZ52EAH4'
 'IN Core Free Shipping 2015/04/08 23-48-5-108'
 'Amazon PLCC Free-Financing Universal Merchant AAT-WNKTBO3K27EJC,Amazon PLCC Free-Financing Universal Merchant AAT-QX3UCCJESKPA2,Amazon PLCC Free-Financing Universal Merchant AAT-5QQ7BIYYQEDN2,Amazon PLCC Free-Financing Universal Merchant AAT-DSJ2QRXXWXVMQ,Amazon PLCC Free-Financing Universal Merchant AAT-CXJHMC2YJUK76,Amazon PLCC Free-Financing Universal Merchant AAT-CC4FAVTYR4X7C,Amazon PLCC Free-Financing Universal Merchant AAT-XXRCW6NZEPZI4,Amazon PLCC Free-Financing Universal Merchant AAT-EOKPWFWYW7Y6I,Amazon PLCC Free-Financing Universal Merchant AAT-ZYL5UPUNW6T62,Amazon PLCC Free-Financing Universal Merchant AAT-ETXQ3XXWMRXBG,Amazon PLCC Free-Financing Universal Merchant AAT-7X3XCTYG64VBE,Amazon PLCC Free-Financing Universal Merchant AAT-7CHGD3WTS3MHM,Amazon PLCC Free-Financing Universal Merchant AAT-26ZDKNME27X42,Amazon PLCC Free-Financing Universal Merchant AAT-4ZF5KN6E4LJK4,Amazon PLCC Free-Financing Universal Merchant AAT-7RCXIKUAX7DDY,Amazon PLCC Free-Financing Universal Merchant AAT-BRSZZ45H6MHAO,Amazon PLCC Free-Financing Universal Merchant AAT-MKLXOOZWQL7GO,Amazon PLCC Free-Financing Universal Merchant AAT-CB7UNXEXGIJTC,Amazon PLCC Free-Financing Universal Merchant #MP-gzasho-1593152694811,Amazon PLCC Free-Financing Universal Merchant AAT-WLBA4GZ52EAH4'
 'Amazon PLCC Free-Financing Universal Merchant AAT-WNKTBO3K27EJC,Amazon PLCC Free-Financing Universal Merchant AAT-QX3UCCJESKPA2,Amazon PLCC Free-Financing Universal Merchant AAT-5QQ7BIYYQEDN2,Amazon PLCC Free-Financing Universal Merchant AAT-DSJ2QRXXWXVMQ,Amazon PLCC Free-Financing Universal Merchant AAT-CXJHMC2YJUK76,Amazon PLCC Free-Financing Universal Merchant AAT-CC4FAVTYR4X7C,Amazon PLCC Free-Financing Universal Merchant AAT-XXRCW6NZEPZI4,Amazon PLCC Free-Financing Universal Merchant AAT-EOKPWFWYW7Y6I,Amazon PLCC Free-Financing Universal Merchant AAT-ETXQ3XXWMRXBG,Amazon PLCC Free-Financing Universal Merchant AAT-7X3XCTYG64VBE,Amazon PLCC Free-Financing Universal Merchant AAT-7CHGD3WTS3MHM,Amazon PLCC Free-Financing Universal Merchant AAT-26ZDKNME27X42,Amazon PLCC Free-Financing Universal Merchant AAT-4ZF5KN6E4LJK4,Amazon PLCC Free-Financing Universal Merchant AAT-7RCXIKUAX7DDY,Amazon PLCC Free-Financing Universal Merchant AAT-BRSZZ45H6MHAO,Amazon PLCC Free-Financing Universal Merchant AAT-MKLXOOZWQL7GO,Amazon PLCC Free-Financing Universal Merchant AAT-CB7UNXEXGIJTC,Amazon PLCC Free-Financing Universal Merchant #MP-gzasho-1593152694811,Amazon PLCC Free-Financing Universal Merchant AAT-WLBA4GZ52EAH4']

FRECUENCIAS DE LA COLUMNA
- Valor modal: IN Core Free Shipping 2015/04/08 23-48-5-108
- Frecuencia acumulada: 46100

  DISTRIBUCION DE FRECUENCIAS (TOP 3) promotion-ids
IN Core Free Shipping 2015/04/08 23-48-5-108                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              46100
Duplicated A12RHGVGRWOT3S 1560498941486                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     489

#### ConclusiÃ³n

Tras realizar el anÃ¡lisis preliminar del dataset **Amazon Sale Report**, hemos identificado los siguientes puntos clave:

- **Duplicados en identificadores unicos**: Las columnas **Order ID** y **ASIN** (Amazon Standard Identification Number) presentan valores duplicados. Estas columnas deberÃ­an contener valores Ãºnicos.

- **Datos nulos**: Las columnas **Courier Status**, **Amount** y **Currency** presentan un 6% de datos nulos cada una. Se debe realizar un anÃ¡lisis detallado para determinar si los valores faltantes pueden ser imputados de manera precisa o si se deben considerar otras alternativas.

- **Inconsistencias en ubicaciÃ³n**: Las columnas **Ship-City**, **Ship-State** y **Ship-Country** contienen 33 valores nulos cada una. Es probable que estas filas estÃ©n relacionadas, lo que sugiere la necesidad de verificar la consistencia y completitud de los datos de envÃ­o.

- **EliminaciÃ³n de columnas irrelevantes**: Las columnas **Unnamed: 22**, **Fulfilled-By** y **Promotion_IDs** contienen una gran cantidad de datos nulos y no son relevantes para el anÃ¡lisis actual, por lo que se ha decidido eliminarlas. La columna de **index** tambiÃ©n serÃ¡ eliminada debido a que no aporta informaciÃ³n Ãºtil para el anÃ¡lisis.

#### Recomendaciones

- **RevisiÃ³n de duplicados**: Se recomienda revisar y eliminar los duplicados en las columnas **Order ID** y **ASIN**.
  
- **Manejo de datos nulos**: Es necesario profundizar en las razones detrÃ¡s de los datos nulos en **Courier Status**, **Amount** y **Currency** para decidir la mejor estrategia de imputaciÃ³n o eliminaciÃ³n.

- **ValidaciÃ³n de datos de ubicaciÃ³n**: Verificar las filas con datos de ubicaciÃ³n nulos para saber si es posible realizar correcciones.

- **Limpieza de datos**: Realizar la eliminaciÃ³n de columnas irrelevantes para simplificar el dataset y enfocarse en las variables que realmente afectan el anÃ¡lisis.