In [2]:
import pandas as pd
import numpy as np
import os
os.chdir('../') #Esto sube un nivel desde 'Notebooks' a 'Proyect_amazon'(donde esta Functions.py)
import sys
# permite que Python encuentre e importe el módulo 'Functions' desde el directorio actual
sys.path.append(os.getcwd())
import Functions as fs

In [3]:
df_ventas = pd.read_csv('Amazon Sale Report.csv', low_memory=False)
df_ventas.head(2)

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN

In [4]:
df_ventas.shape

(128975, 24)

In [5]:
fs.data_characteristics(df_ventas)

                column type data  total nulls percentage
0                index     int64            0       0.0%
1             Order ID    object            0       0.0%
2                 Date    object            0       0.0%
3               Status    object            0       0.0%
4           Fulfilment    object            0       0.0%
5       Sales Channel     object            0       0.0%
6   ship-service-level    object            0       0.0%
7                Style    object            0       0.0%
8                  SKU    object            0       0.0%
9             Category    object            0       0.0%
10                Size    object            0       0.0%
11                ASIN    object            0       0.0%
12      Courier Status    object         6872      5.33%
13                 Qty     int64            0       0.0%
14            currency    object         7795      6.04%
15              Amount   float64         7795      6.04%
16           ship-city    object           33      0.03%
17          ship-state    object           33      0.03%
18    ship-postal-code   float64           33      0.03%
19        ship-country    object           33      0.03%
20       promotion-ids    object        49153     38.11%
21                 B2B      bool            0       0.0%
22        fulfilled-by    object        89698     69.55%
23         Unnamed: 22    object        49050     38.03%

**Eliminacion de columnas**

Se comenzara eliminando las columnas irrelevantes del conjunto de datos según lo mencionado en la conclusión del análisis preliminar.

In [6]:
columnas_innecesarias = ['index','promotion-ids','fulfilled-by','Unnamed: 22']
df_ventas.drop(columnas_innecesarias,axis=1,inplace=True)

In [7]:
#Se elimina la columna 'Courier Status' porque contiene la misma data que 'Status'
df_ventas.drop(['Courier Status'],axis=1,inplace=True)

In [8]:
df_ventas.dtypes

Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Style                  object
SKU                    object
Category               object
Size                   object
ASIN                   object
Qty                     int64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
B2B                      bool
dtype: object

In [9]:
#Cambio tipos de datos de la columna Date y ship-postal-code
df_ventas['Date'] = pd.to_datetime(df_ventas['Date'],format="%m-%d-%y", errors='coerce')
df_ventas['ship-postal-code'] = df_ventas['ship-postal-code'].astype('object')

#Se transformaron los valores a cadena (.astype(str)) para poder remplazar, porque sino da error
df_ventas['ship-postal-code'] = df_ventas['ship-postal-code'].astype(str).str.replace('.0', '')

In [10]:
df_ventas.sample()

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B
1809,404-6722828-1093962,2022-04-29,Shipped,Amazon,Amazon.in,Expedited,SET385,SET385-KR-NP-XL,Set,XL,B09K3SJVR1,1,INR,631.0,JALANDHAR,PUNJAB,144004,IN,False

**Modificacion de columnas**

In [11]:
# Elimino los espacios en blanco al inicio y al final de los nombres de las columnas
df_ventas.columns = df_ventas.columns.str.strip()

# formato snake case
new_names = { 'Order ID': 'order_id', 'Date': 'date', 'Status': 'shipping_status', 'Fulfilment': 'fulfilment', 
                'Sales Channel': 'sales_channel', 'ship-service-level': 'ship_service_level',  'Style': 'style', 
                'SKU': 'sku', 'Category': 'category', 'Size': 'size', 'ASIN': 'asin', 'Qty': 'quantity', 
                'Amount': 'amount', 'ship-city': 'ship_city', 'ship-state': 'ship_state', 'ship-postal-code': 'ship_postal_code', 
                'ship-country': 'ship_country', 'B2B': 'b2b'
}
#renombro las columnas
df_ventas.rename(columns=new_names,inplace=True)

In [12]:
df_ventas['shipping_status'].unique()

array(['Cancelled', 'Shipped - Delivered to Buyer', 'Shipped',
       'Shipped - Returned to Seller', 'Shipped - Rejected by Buyer',
       'Shipped - Lost in Transit', 'Shipped - Out for Delivery',
       'Shipped - Returning to Seller', 'Shipped - Picked Up', 'Pending',
       'Pending - Waiting for Pick Up', 'Shipped - Damaged', 'Shipping'],
      dtype=object)

In [13]:
#Se remplaza el valor 'Shipping' por 'Shipped' en la columna 'shipping_status'
df_ventas['shipping_status']=df_ventas['shipping_status'].str.replace('Shipping','Shipped')

In [14]:
# Divide la columna 'shipping_status' en 2 partes apartir del separador ' - '
split_columns = df_ventas['shipping_status'].str.split(' - ', expand=True)

# Asignar la primera parte a 'shipping_status' y la segunda parte a 'delivery_status'
df_ventas['shipping_status'] = split_columns[0]
df_ventas['delivery_status'] = split_columns[1]

columnas = list(df_ventas.columns)
#print(columnas)
nuevo_orden = ['order_id', 'date', 'shipping_status', 'delivery_status', 'fulfilment', 'sales_channel', 'ship_service_level', 'style', 'sku', 'category', 'size', 'asin', 'quantity', 'currency', 'amount', 'ship_city', 'ship_state', 'ship_postal_code', 'ship_country', 'b2b']

#Modifico el orden dejando 'delivery_status' al lado de 'shipping_status'
df_ventas = df_ventas.reindex(columns=nuevo_orden)

In [26]:
df_ventas['delivery_status'].isnull().sum()

0

<small > Luego de dividir la columna *shipping_status* en 2, quedaron gran cantidad de valores nulos en la nueva columna *delivery_status* de acuerdo a los datos de *shipping_status* imputaremos de la siguiente forma:<br>

- Donde *shipping_status* = " cancelled " ira " cancelled " en *delivery_status*.
- Donde *shipping_status* = " Pending " ira " Pending " en *delivery_status*.
- Donde *shipping_status* = " Shipped " ira " on the way " en *delivery_status*.

La razon por la que habian quedado valores nulos se debe a que algunos valores de la columna *shipping_status* eran unicos (no estaban separados por - ) </small>

In [16]:
filtros = [
    (df_ventas['shipping_status'] == 'Cancelled') & (df_ventas['delivery_status'].isnull()),
    (df_ventas['shipping_status'] == 'Shipped') & (df_ventas['delivery_status'].isnull() ),
    (df_ventas['shipping_status'] == 'Pending') & (df_ventas['delivery_status'].isnull() )
]

# Valores a asignar según los filtros
valores = ['Cancelled', 'On the way', 'Pending']

# np.select decide qué valor tomar para 'delivery_status' revisando cada filtro en orden. Cuando encuentra 
# un filtro que sea verdadero para una fila específica, asigna el valor correspondiente de 'valores'
df_ventas['delivery_status'] = np.select(filtros, valores, default=df_ventas['delivery_status'])

In [17]:
df_ventas.head(5)

,order_id,date,shipping_status,delivery_status,fulfilment,sales_channel,ship_service_level,style,sku,category,size,asin,quantity,currency,amount,ship_city,ship_state,ship_postal_code,ship_country,b2b
0,405-8078784-5731545,2022-04-30,Cancelled,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,0,INR,647.62,MUMBAI,MAHARASHTRA,400081,IN,False
1,171-9198151-1101146,2022-04-30,Shipped,Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,1,INR,406.00,BENGALURU,KARNATAKA,560085,IN,False
2,404-0687676-7273146,2022-04-30,Shipped,On the way,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210,IN,True
3,403-9615377-8133951,2022-04-30,Cancelled,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008,IN,False
4,407-1069790-7240320,2022-04-30,Shipped,On the way,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,1,INR,574.00,CHENNAI,TAMIL NADU,600073,IN,False

**Eliminacion de duplicados**

In [18]:
df_ventas.duplicated().sum()

6

In [19]:
# Identificar filas duplicadas considerando todas las columnas
duplicated_rows = df_ventas[df_ventas.duplicated(keep=False)]
duplicated_rows

,order_id,date,shipping_status,delivery_status,fulfilment,sales_channel,ship_service_level,style,sku,category,size,asin,quantity,currency,amount,ship_city,ship_state,ship_postal_code,ship_country,b2b
30660,406-0372545-6086735,2022-04-12,Cancelled,Cancelled,Amazon,Amazon.in,Expedited,SET197,SET197-KR-NP-L,Set,L,B08B3YPD63,0,NaN,NaN,Siliguri,WEST BENGAL,734008,IN,False
30661,406-0372545-6086735,2022-04-12,Cancelled,Cancelled,Amazon,Amazon.in,Expedited,SET197,SET197-KR-NP-L,Set,L,B08B3YPD63,0,NaN,NaN,Siliguri,WEST BENGAL,734008,IN,False
41291,408-0373839-4433120,2022-04-05,Cancelled,Cancelled,Amazon,Amazon.in,Expedited,JNE3501,JNE3501-KR-M,kurta,M,B08MYVCDB4,0,NaN,NaN,BENGALURU,KARNATAKA,560072,IN,False
41292,408-0373839-4433120,2022-04-05,Cancelled,Cancelled,Amazon,Amazon.in,Expedited,JNE3501,JNE3501-KR-M,kurta,M,B08MYVCDB4,0,NaN,NaN,BENGALURU,KARNATAKA,560072,IN,False
79844,171-9628368-5329958,2022-05-07,Cancelled,Cancelled,Amazon,Amazon.in,Expedited,J0329,J0329-KR-L,kurta,L,B09KXRB7JV,0,NaN,NaN,ERNAKULAM,KERALA,682017,IN,False
79845,171-9628368-5329958,2022-05-07,Cancelled,Cancelled,Amazon,Amazon.in,Expedited,J0329,J0329-KR-L,kurta,L,B09KXRB7JV,0,NaN,NaN,ERNAKULAM,KERALA,682017,IN,False
85790,171-3249942-2207542,2022-05-03,Shipped,On the way,Amazon,Amazon.in,Expedited,SET323,SET323-KR-NP-XL,Set,XL,B09NDKKM7P,1,INR,939.0,PUNE,MAHARASHTRA,411057,IN,False
85791,171-3249942-2207542,2022-05-03,Shipped,On the way,Amazon,Amazon.in,Expedited,SET323,SET323-KR-NP-XL,Set,XL,B09NDKKM7P,1,INR,939.0,PUNE,MAHARASHTRA,411057,IN,False
86418,405-8669298-3850736,2022-05-03,Shipped,On the way,Amazon,Amazon.in,Expedited,MEN5025,MEN5025-KR-XXXL,kurta,3XL,B08YYQS8FH,1,INR,533.0,GHAZIABAD,UTTAR PRADESH,201010,IN,False
86419,405-8669298-3850736,2022-05-03,Shipped,On the way,Amazon,Amazon.in,Expedited,MEN5025,MEN5025-KR-XXXL,kurta,3XL,B08YYQS8FH,1,INR,533.0,GHAZIABAD,UTTAR PRADESH,201010,IN,False
98954,407-4853873-4978725,2022-06-22,Shipped,On the way,Amazon,Amazon.in,Expedited,J0230,J0230-SKD-M,Set,M,B08XNJG8B1,1,INR,1163.0,Zirakpur,Punjab,140603,IN,False
98955,407-4853873-4978725,2022-06-22,Shipped,On the way,Amazon,Amazon.in,Expedited,J0230,J0230-SKD-M,Set,M,B08XNJG8B1,1,INR,1163.0,Zirakpur,Punjab,140603,IN,False

In [20]:
#Se eliminan las filas duplicadas
df_ventas.drop_duplicates(inplace=True)

In [21]:
frecuencia = df_ventas['order_id'].value_counts()
frecuencia[frecuencia > 1].head()

order_id
403-4984515-8861958    12
171-5057375-2831560    12
404-9932919-6662730    11
403-0173977-3041148    11
408-3317403-1729937    10
Name: count, dtype: int64

Al visualizar los valores repetidos de *Order ID* llegamos a la conclusion de que se trata de varias ventas que pertenecen a la misma orden.

In [22]:
df_ventas[df_ventas['order_id']== "403-4984515-8861958"].head(3)

,order_id,date,shipping_status,delivery_status,fulfilment,sales_channel,ship_service_level,style,sku,category,size,asin,quantity,currency,amount,ship_city,ship_state,ship_postal_code,ship_country,b2b
31737,403-4984515-8861958,2022-04-11,Shipped,On the way,Amazon,Amazon.in,Expedited,JNE3792,JNE3792-KR-XXXL,kurta,3XL,B09KXNWRSB,1,INR,432.0,SOLAPUR,MAHARASHTRA,413002,IN,False
31738,403-4984515-8861958,2022-04-11,Shipped,On the way,Amazon,Amazon.in,Expedited,JNE3764,JNE3764-KR-XXXL,kurta,3XL,B09K3SSDSZ,1,INR,487.0,SOLAPUR,MAHARASHTRA,413002,IN,False
31739,403-4984515-8861958,2022-04-11,Shipped,On the way,Amazon,Amazon.in,Expedited,JNE3503,JNE3503-KR-XXXL,kurta,3XL,B08RP2BV5Q,1,INR,318.0,SOLAPUR,MAHARASHTRA,413002,IN,False

In [23]:
#Filtramos por Order ID y una fecha diferente, ya que una orden puede pertencer a 1 dia especifico
df_ventas[(df_ventas['order_id']== "403-4984515-8861958") & (df_ventas['date']!="2022-04-11")].head(2)

Empty DataFrame
Columns: [order_id, date, shipping_status, delivery_status, fulfilment, sales_channel, ship_service_level, style, sku, category, size, asin, quantity, currency, amount, ship_city, ship_state, ship_postal_code, ship_country, b2b]
Index: []

**Tratamiento de valores Nulos**

In [24]:
#Trae todas las filas que contengan todos los valores nulos
df_ventas[df_ventas.isna().all(axis=1)]

Empty DataFrame
Columns: [order_id, date, shipping_status, delivery_status, fulfilment, sales_channel, ship_service_level, style, sku, category, size, asin, quantity, currency, amount, ship_city, ship_state, ship_postal_code, ship_country, b2b]
Index: []

In [25]:
columnas_con_nulos = []
for columna in df_ventas.columns:
    nulos = df_ventas[columna].isnull().sum()
    #Si la columna contiene valores nulos, se añade a la lista
    if nulos > 0: 
        columnas_con_nulos.append({'columna':columna,
                                   'total nulos':nulos})

df_nulos = pd.DataFrame(columnas_con_nulos)
df_nulos

        columna  total nulos
0      currency         7792
1        amount         7792
2     ship_city           33
3    ship_state           33
4  ship_country           33